{% extends  "layout.njk" %}

{% block head %}
    <title>Sobre - Rocketseat</title>
    {% endblock %}

{% block content %}

<main>
  <div class="logo_image">
    <img src="https://avatars0.githubusercontent.com/u/28929274?s=200&v=4" alt="Logo Rocketseat" />
  </div>

  <h1>Rocketseat</h1>
  <h2>Instituição educacional | RS</h2>

  <div class="description">
    <p class="p_rocket">
      As melhores tecnologias em programação, direto ao ponto e do jeito certo.
    </p>
    <p>
      No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.
    </p>
  </div>

  <div class="techs">
    <h3>As mesmas tecnologias utilizadas por empresas como:
      Nubank, Netflix, Uber, Instagram e Airbnb</h3>
    </div>

      <footer class="nav_links footer">
        <a href="http://fb.com/rocketseat" target="_blank">Facebook</a>
        <a href="http://instagram.com/rocketseat_oficial" target="_blank"
          >Instagram</a
        >
        <a href="http://twitter.com/rocketseat" target="_blank">Twitter</a>
        <a href="http://youtube.com/rocketseat" target="_blank">Youtube</a>
      </footer>
  
    
  </div>
</main>

 {% endblock %}