{% extends  "layout.njk" %}

{% block head %}
    <title>Sobre - Rocketseat</title>
    {% endblock %}

{% block content %}

<main>
  <div class="logo_image">
    <img src="{{about.avatar_url}}" alt="Logo Rocketseat" />
  </div>

  <h1>{{about.name}}</h1>
  <h2>{{about.rocket}}</h2>

  <div class="description">
    <p class="p_rocket">
      {{about.role}}
    </p>
    <p>
     {{about.description}}
    </p>
  </div>

  <div class="techs">
    <h3>As mesmas tecnologias utilizadas por empresas como:
      Nubank, Netflix, Uber, Instagram e Airbnb</h3>
    </div>

      <footer class="nav_links footer">
      {% for link in about.links%}
        <a href="{{link.url}}" target="_blank">{{link.name}}</a>
        {% endfor %}
      </footer>
  
    
  </div>
</main>

 {% endblock %}