{% extends  "layout.njk" %}

{% block head %}
    <title>Ops!!!</title>
{% endblock %}

{% block content %}
    <div class="ops">
			<a href="/">Erro 404: Não achamos o que você procura :/ </h1></a>
		</div>
{% endblock content %}