{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
		<a href="/students/create">New</a>
		<table width="100%">
			<thead>
				<tr>
						<th>Student</th>
						<th>email</th>
						<th>Class</th>
						<th>Period</th>
						<th>action</th>
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
				<tr>
					<td>
						<span style="background-image: url({{teacher.avatar_url}})"></span>
						{{student.name}}
					</td>
					<td>{{student.email}}</td>
					<td>{{student.class}}</td>
					<td>{{student.period}}</td>
					<td><a href="/students/{{student.id}}">View</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
</div>

{% endblock content %}

