<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./styles.css" />

    {% block head %}
      <title>Gym Manager</title>
    {% endblock %}
   
  </head>
  <body>
    <header class="links">
      <a href="/" class="active">Instructors</a>
      <a href="/courses">Members</a>
    {% block content %}

    {% endblock %}

    
    
  </body>
</html>

